.question {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}

.warning {
  display: flex;
  justify-content: center;
  color: red;
}

.multiple-choice-label {
  display: "block";
  margin: "5px 0";
}

.likert-scale-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; /* Adjust the space between each set of button and label */
}

.likert-label {
  margin-bottom: 5px; /* Adjust space between label and radio button */
}

.left-coding-panel {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 5px;
  border: 1px solid #094183;
}

.collapse-container {
  border-bottom: 1px solid #c7cdd1;
  border-top: 1px solid #c7cdd1;
}
.collapse-header {
  display: flex;
  align-items: center;
  /* border-top: 1px solid #c7cdd1;
  border-bottom: 1px solid #c7cdd1; */

  /* justify-content: center; */
  /* padding: 5px; */
}
